<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body >
<form class="jmbotron" style="color:black;text-align: center;" action="../success.html" method="GET">
<table>
<tr>
<td>Username</td>
<td><input type="text" name="txtusername"></td>
</tr>
<tr>
<td>Password</td>
<td><input type="password" name="txtpassword"></td>
</tr>
<tr>
<tr>
<td>Email</td>
<td><input type="email" name="txtemail"></td>
</tr>
<tr>
<tr>
<td>Mobile Number</td>
<td><input type="number" name="txtmobileno" maxlength="10"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Register"></td>
</tr>
</table>
</form>
</body>
</html>