h5{
    background-color:floralwhite;
    text-align-last: center;
    padding: 20px;
    margin: 0;
}
.btn{
    background-color:green;
    color:whitesmoke;
   cursor: pointer;
   height: 30px;
   width: 70px;

}
.image{
    width: 150px;
    height: 150px;
}
