<div class=""  style="color:whitesmoke;background-color:black;">
    <footer class="footer">
<div class="container">
    <tr>
        <td><h3>==>Follow Us On:</h3> <img src="../../assets/wp.png" style="height: 50px;"/>  <img src="../../assets/tv.jpg" style="height: 50px;"/><img src="../../assets/fff.png" style="height: 50px;"/></td>
    </tr>

    <tr><hr></tr>
        
    <tr align="center">
        <td><p><b>Shop Address:</b> &nbsp;&nbsp;&nbsp;&nbsp;   <b>Bake And Flakes,</b> 31/562,Laxminagar,Parvati,Pune 411230.</p></td>
    </tr>
    <tr>
        <h3>Contact Number: 9766089396</h3>
    </tr>

</div>
</footer>
</div>
        
      
    

